// Specific CSS for your home-page
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  width: 90%;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: left;
  margin: 30px;
  border: 1px solid rgb(230,230,230);
}

.flat-card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}
.info {
  background-color: rgb(240, 233, 233);
  padding: 10px;
  margin: 0px;
}

.action {
  padding: 0px 10px;
}

.remove {
  color: red;
}
